<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-archive"></span> Change password</h1>

        <form action="/account/changepassword" method="post">
            <div class="form-group">
                <label>Current password</label>
                <input type="password" class="form-control" name="currentPassword" autofocus>
            </div>
            <div class="form-group">
                <label>New password</label>
                <input type="password" class="form-control" name="newPassword">
            </div>
            <div class="form-group">
                <label>Repeat new password</label>
                <input type="password" class="form-control" name="newPasswordCheck">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Change it</button>
        </form>

        <hr>

    </div>

</div>