<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1>Login</h1>

        <form action="/account/login" method="post">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" autofocus>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </div>

            <div class="form-group">
                <a href="/account/requestpasswordreset">Forget your password?</a>
            </div>
        </form>

        <hr>
    </div>
</div>
