<div class="container">
    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-archive"></span>Request a password reset</h1>

        <form action="/account/requestpasswordreset" method="post">
            <div class="form-group">
                <label>E-mail Address</label>
                <input type="email" class="form-control" name="email" autofocus>
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Send password reset link</button>
        </form>

        <hr>
    </div>
</div>
